@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rye&family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Press+Start+2P&family=Rye&family=Teko:wght@300;400;500;600;700&display=swap');
p{
color: darkorange;
background-color: darkred;
font-size: bold;

}








